.header{
	background-color: aqua;
	min-height: 70px;
	font-size:80px;
	text-align:center;
}
.wrapper{
	overflow: hidden;
}
.contact{
background-color: yellow;
min-height: 100px;
width:50%;
float:right;
font-size:60px;

}
.blog{
	background-color: blue;
	min-height: 100px;
	width:50%;
	float: left;
	font-size:60px;

}
.footer{
	background-color: green;
	min-height: 70px;
	font-size:60px;
	text-align:center;
}